<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
    <link rel="stylesheet" href="css\index.css">
</head>
<body>

    <header>
        <section class="imgFondo">
            <section class="section-icons">
                <i class="fa-solid fa-bars"></i>
                <i class="fa-solid fa-magnifying-glass"></i>
            </section> 

            <section class="titulo-desc">
                <h1>inmobiliaria! alquileres con la mejor oferta</h1>
                <button class="headerButton">Comprar ahora</button>
            </section>
        </section>
    </header>

    <main>
        <p class="h2Propiedades">Propiedades</p>

        <section class="contenedorPrin">
            <div class="contImgPres">
                <img class="imgPres" src="img\casa.jpg" alt="">
            </div>
            
            <section>
                <h2>Titulo Producto</h2>
                <p>Descripcion</p>
                <button class="botonCompra">Precio US$53.00</button>
            </section>

        </section>

        <section class="contenedorPrin">
            <div class="contImgPres">
                <img class="imgPres" src="img\casa.jpg" alt="">
            </div>
            
            <section>
                <h2>Titulo Producto</h2>
                <p>Descripcion</p>
                <button class="botonCompra">Precio US$53.00</button>
            </section>

        </section>

            <section class="contenedorPrin">
                <div class="contImgPres">
                    <img class="imgPres" src="img\casa.jpg" alt="">
                </div>
                
                <section>
                    <h2>Titulo Producto</h2>
                    <p>Descripcion</p>
                    <button class="botonCompra">Precio US$53.00</button>
                </section>
    
            </section>

        </section>

    </main>

    <footer>

    </footer>

</body>
</html>