<header>
    <img class="logo" src="img/logo.png" alt="Logo">
    <button id="abrir" class="abrir-menu"><i class="bi bi-list"></i></button>
    <nav class="nav" id="nav">
        <button class="cerrar-menu" id="cerrar"><i class="bi bi-x"></i></button>
        <ul class="nav-list">
            <li><a href="#">Inicio</a></li>
            <li><a href="#busqueda">Buscar</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Qué hacemos</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
</header>
<div class="overlay"></div>